html, body {
    width: 100%;
}

.row {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}

.red {
    color: #ff0000;
}

.game {
    font-size: 2em;
}

#btnCheck {
    font-size: 1.5em;
}

#answer{
    font-size: 1em;
    width: 1.5em;
}
