body, html {
    height: 100%;
}
body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
}

#footer {
    position: relative;
    margin-top: -50px;
    clear: both;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}

#body {
    height: auto;
    min-height: 100%;
}

#body-wrapper {
    overflow: hidden;
    padding-bottom: 50px;
}
