[submodule "pgnjs"]
	path = pgnjs
	url = https://github.com/penicylline/pgnjs.git
[submodule "mazejs"]
	path = mazejs
	url = https://github.com/penicylline/mazejs.git
[submodule "maximind"]
	path = maximind
	url = https://github.com/penicylline/maximind.git
	branch = master
